body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/public/img/1.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 18%;
}

html[dir="rtl"] {
  font-family: 'Amiri', serif !important;
}

.App {
  text-align: center;
}
